apiVersion: v1
kind: Pod
metadata:
  name: health1
spec:
  containers:
    - name: nginx
      image: rkalluru/d52-health:v3
      livenessProbe:
        httpGet:
          path: /
          port: 80
        initialDelaySeconds: 30
        periodSeconds: 3
        failureThreshold: 1
      readinessProbe:
        httpGet:
          path: /
          port: 80
        initialDelaySeconds: 30
        periodSeconds: 10
