apiVersion: v1
kind: Pod
metadata:
  name: resource1
spec:
  containers:
    - name: nginx
      image: centos:7
      command:
        - sleep
        - "10000"
      resources:
        requests:
          memory: "64Mi"
          cpu: "250m"
        limits:
          memory: "128Mi"
          cpu: "250m"