apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-rs1
spec:
  replicas: 3
  selector:
    matchLabels:
      tier: frontend
  template:
    metadata:
      labels:
        tier: frontend
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          env:
            - name: COURSE
              value: DEVOPS
